<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Login</h1>
    </mat-card-title>
  </mat-card-header>
  <form novalidate>
    <mat-card-content>
      <mat-input-container class="full-width">
        <input type="text" matInput placeholder="Username">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input type="password" matInput placeholder="Password">
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button>Login!</button>
      <button type="button" mat-button>Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
